

/* roboto-regular - cyrillic_latin */

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"),
	url("../fonts/roboto.woff2") format("woff2"), /* Super Modern Browsers */
	url("../fonts/roboto.woff") format("woff2");
	/* Modern Browsers */
}


/* roboto-500 - latin_cyrillic */

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"),
	url("../fonts/robotomedium.woff2") format("woff2"), /* Super Modern Browsers */
	url("../fonts/robotomedium.woff") format("woff");
	/* Modern Browsers */
}


/* roboto-700 - latin_cyrillic */

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/robotobold.woff2") format("woff2"), /* Super Modern Browsers */
	url("../fonts/robotobold.woff") format("woff");
	/* Modern Browsers */
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	min-width: 1200px;
	font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  /* overflow-x: hidden; */
	font-weight: 400;
	line-height: normal;
	text-align: left;
	color: #000000;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

.page-header {
	background-color: #eeeeee;
}

.wraper {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 45px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.logo {
	width: 160px;
	height: 65px;
	margin-top: 4px;
}


/* наведение и активация логотипа */

.logo:hover,
.logo:focus {
	opacity: 0.8;
}

.logo:active {
	opacity: 0.3;
}


/* навигация */

.main-nav {
	margin-left: 182px;
	margin-top: 20px;
}

.main-nav-list {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	line-height: 1.88;
	text-transform: uppercase;
	font-weight: 500;
}

.main-nav-item {
	margin-left: 20px;
	padding-right: 26px;
}

.main-nav-link {
	color: #000000;
}

.main-nav-link:hover {
	color: #fb565a;
}

.main-nav-link:active {
	color: rgba(0, 0, 0, 0.3);
}


/* корзина */

.basket {
	margin-left: auto;
	margin-top: 21px;
	position: relative;
	padding-left: 30px;
	line-height: 1.88;
	text-transform: uppercase;
	font-weight: 500;
	color: #000000;
}

.basket::before {
	content: "";
	position: absolute;
	top: 14px;
	right: 100px;
	width: 15px;
	height: 15px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background-image:url("../img/basket-icon.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.basket:hover {
	color: #fb565a;
}

.basket:active {
	color: rgba(0, 0, 0, 0.3);
}


/* слайдер */

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	/* box-sizing: border-box; */
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0, 0, 0, 0);
}

.slider {
	position: relative;
	background-color: #eeeeee;
}

.slider-controls {
	position: absolute;
	left: 50%;
	bottom: 104px;
	z-index: 100;
	width: 160px;
	height: 18px;
	text-align: center;
	font-size: 0;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.slider-controls label {
	position: relative;
	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 8px;
	border-radius: 50%;
	cursor: pointer;
	margin-top: 11px;
	margin-left: 10px;
	margin-right: 7px;
}

.slider-controls label::after {
	content: "";
	position: absolute;
	top: -2px;
	left: -2px;
	z-index: 1;
	width: 18px;
	height: 18px;
	background: #ffffff;
	border-radius: 50%;
}

.slider-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.slider-item {
	display: none;
	padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
	background-image: url("../img/slide1.png");
	background-repeat: no-repeat;
	background-position: 93% 18px;
}

.slider-item:nth-child(2) {
	background-image: url("../img/slide2.png");
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.slider-item:nth-child(3) {
	background-image: url("../img/slide3.png");
	background-repeat: no-repeat;
	background-position: 100% 20px;
}

#product-1:checked~.slider-list .slider-item:nth-child(1) {
	display: block;
}

#product-2:checked~.slider-list .slider-item:nth-child(2) {
	display: block;
}

#product-3:checked~.slider-list .slider-item:nth-child(3) {
	display: block;
}

#product-1:checked~.slider-controls .slider-controls-item--1::before,
#product-2:checked~.slider-controls .slider-controls-item--2::before,
#product-3:checked~.slider-controls .slider-controls-item--3::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	width: 4px;
	height: 4px;
	margin: -4px;
	background-color: inherit;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
}

.slider-item h3 {
	max-width: 600px;
	margin: 0;
	margin-bottom: 25px;
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.slider-item p {
	max-width: 430px;
	margin: 0;
	margin-bottom: 41px;
	line-height: 1.5;
}


/* кнопка слайдера */

.button {
	display: block;
	width: 240px;
	padding: 15px 0;
	font-size: 16px;
	background-color: #fb565a;
	line-height: 1.13;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	border-radius: 3px;
	border: none;
}

.button:hover,
.button:focus {
	background-color: #e74246;
	color: #ffffff;
}

.button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
	-webkit-box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}


/* блок вебсайтов */

.web-section {
	width: 1200px;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 20px;
	padding-left: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.services {
	width: 300px;
	margin-right: 60px;
}

.practice-title {
	margin-top: 21px;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1.25;
}

.practice-text {
	margin-top: -8px;
	padding-right: 24px;
	color: #283136;
	line-height: 1.5;
}


/* кнопки web */

.web-sites,
.applications,
.presentation {
	margin-top: 34px;
	width: 160px;
}

.applications {
	background-color: #00ca74;
}

.applications:hover {
	background-color: #00bc6c;
}

.applications:active {
	background-color: #00aa62;
	-webkit-box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.presentation {
	background-color: #efc84a;
}

.presentation:hover {
	background-color: #eab534;
}

.presentation:active {
	background-color: #e5a722;
	-webkit-box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}


/* блок о нас */

.information-section {
	width: 1200px;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 20px;
	padding-left: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-top: 2px solid #a6a6a6;
}

.information {
	width: 650px;
	margin-top: 40px;
}

.information-slogan {
	margin: 0;
	margin-top: 34px;
	font-size: 45px;
	font-weight: 500;
	line-height: 1;
}

.information-subtitle {
	margin-top: 33px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #283136;
}

.development-title {
	margin-top: 39px;
	color: #000000;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1.5;
}

.development-list {
	margin-top: 20px;
	list-style: none;
	line-height: 1.5;
	margin-left: -3px;
}

.development-item {
	margin-top: 16px;
	position: relative;
	line-height: 2;
	color: #283136;
}

.development-item::before {
	content: "";
	position: absolute;
	top: 15px;
	left: -36px;
	width: 25px;
	/* transform: translateY(-50%); */
	border: 1px solid #e62f57;
	background-repeat: no-repeat;
	/* background-position: 0 0; */
}


/* о компании */

.company {
	width: 360px;
	margin-bottom: 9px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.stability-slogan {
	margin-top: 31px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	line-height: 1.5;
}

.stability-list {
	margin: 0;
	margin-top: 104px;
	margin-right: -31px;
	margin-bottom: -7px;
	padding: 0;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.total {
	display: block;
	margin-top: -63px;
	margin-right: 8px;
	font-size: 45px;
	line-height: 0.22;
	font-weight: 700;
}

.total-text {
	display: block;
	margin-top: 36px;
	margin-bottom: -43px;
	line-height: 1.13;
	color: #283136;
}

sup {
	font-size: 60%;
}


/* сайты */

.partners-section {
	width: 1200px;
	min-height: 184px;
	margin-top: 54px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 20px;
	padding-left: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: 2px solid #a6a6a6;
	border-right: none;
	border-left: none;
}

.partners-1 {
	margin-top: 15px;
	margin-left: 31px;
}

.partners-2 {
	margin-top: 6px;
	margin-left: 10px;
}

.partners-3 {
	margin-top: 3px;
	margin-left: -2px;
}

.partners-4 {
	margin-top: 11px;
	margin-left: -15px;
}

.partners-link {
	position: relative;
}

.partners-link::before {
	content: "";
	position: absolute;
	top: 10px;
	left: -50px;
	width: 2px;
	height: 52px;
	border: 1px solid #a6a6a6;
	background-repeat: no-repeat;
}

.partners-link:nth-child(1)::before {
	display: none;
}

.partners-link:nth-child(2)::before {
	top: 20px;
	left: -41px;
}

.partners-link:nth-child(3)::before {
	top: 4px;
	left: -61px;
}

.partners-link:nth-child(4)::before {
	top: 23px;
	left: -81px;
}


/* наведение и активация */

.partners-link {
	width: 200px;
	opacity: 0.2;
}

.partners-link:hover,
.partners-link:focus {
	opacity: 1;
}

.partners-link:active {
	opacity: 0.1;
}


/* карта */

.maps {
	position: relative;
	width: 100%;
	max-width: 1440px;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
}
.google-map {
  width: 100%;
}

.write-to-us {
	position: absolute;
	width: 321px;
	top: 54px;
	left: 138px;
	min-height: 308px;
	text-align: center;
	border: solid 1px rgba(0, 1, 1, 0.1);
	background-color: #ffffff;
}

.title-maps {
	margin-top: 48px;
	margin-right: 25px;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.67;
	color: #000000;
}

.text-maps {
	margin: 0;
	padding-top: 4px;
	padding-right: 62px;
	padding-bottom: 18px;
	padding-left: 52px;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
	line-height: 1.13;
	color: #666666;
}

.phone {
	margin-right: 54px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.13;
	color: #666666;
}

.maps-button {
	width: 219px;
	margin-top: 38px;
	margin-left: 51px;
}


/* подвал */

.page-footer {
	width: 1200px;
	margin-top: 34px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 20px;
	padding-left: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 100px;
}

.container-title {
	margin-top: 6px;
	margin-left: 140px;
}

.footer-title {
	font-size: 36px;
	font-weight: 700;
	line-height: 1;
}

.footer-paragraph {
	margin-top: -19px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.38;
	color: #444444;
}

.socials-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 260px;
	margin: 0;
	margin-top: 30px;
	padding: 0;
	list-style: none;
}

.socials-item {
	width: 80px;
	height: 80px;
}


/* иконки соцсетей */

.icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #e1e1e1;
	border-radius: 50%;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.icon:hover,
.icon:focus {
	background-color: #e74246;
}

.icon:active {
	background-color: #d7373b;
}

.icon:active svg {
	opacity: 0.3;
}


/* попап */

.catalog-window {
	padding-top: 61px;
	position: absolute;
	display: none;
	width: 960px;
	height: 590px;
	top: calc(50% - 347px);
	left: calc(50% - 480px);
	text-align: center;
	/* border: 1px solid rgba(0, 1, 1, 0.1); */
	-webkit-box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
	box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
	background-color: #ffffff;
}

.window-form {
	margin-top: 3px;
	margin-left: 114px;
}

.form-fieldset {
	border: none;
}

.form-legend-popup {
	display: block;
	margin-left: -17px;
	padding-top: 5px;
	font-size: 45px;
	font-weight: 500;
	text-align: start;
	line-height: 1;
	color: #000000;
}

.field-window-text {
	display: block;
	margin-top: -11px;
	margin-left: 1px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.13;
	text-align: start;
	color: #000000;
}

.letter {
	margin-left: -14px;
	padding-top: 10px;
}

.field-window-input {
	display: block;
	margin-top: 8px;
	margin-right: 40px;
	padding-left: 13px;
	width: 360px;
	height: 50px;
	border: solid 2px #d7dcde;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.13;
	color: rgba(68, 68, 68, 0.5);
}

.field-window-input:hover {
	border: 2px solid #b4b9bb;
}

.field-window-input:focus {
	border: 2px solid #000000;
}

.field-window-input:invalid {
	border: 2px solid #e74246;
}

.field-window-textarea {
	display: block;
	margin-top: 9px;
	margin-left: -14px;
	margin-bottom: 49px;
	padding-top: 9px;
	padding-left: 12px;
	width: 760px;
	height: 118px;
	border: solid 2px #d7dcde;
}

.name-email-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 48px;
	margin-bottom: 36px;
	margin-left: -15px;
}


/* кнопка попапа */

.button-popup {
	width: 260px;
	margin-top: -2px;
	margin-left: -15px;
}


/* крестик */

.cross {
	position: absolute;
	top: 79px;
	right: 90px;
	width: 21px;
	height: 21px;
	/* cursor: pointer; */
	border: none;
	background-color: inherit;
	opacity: 0.3;
}

.cross:hover {
	opacity: 1;
}

.cross:active {
	opacity: 0.1;
}

.cross:before,
.cross:after {
	content: "";
	position: absolute;
	top: 8px;
	left: -2px;
	width: 26px;
	height: 4px;
	background-color: #e62f57;
}

.cross:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.cross:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}


/* скрипт */

.modal-show {
	display: block;
	-webkit-animation: bounce 0.6s;
	animation: bounce 0.6s;
}

.modal-error {
	-webkit-animation: shake 0.6s;
	animation: shake 0.6s;
}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}
	70% {
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}
	90% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes bounce {
	0% {
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}
	70% {
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}
	90% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@-webkit-keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
}

@keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
}


/* catalog */

.score {
	padding-bottom: 10px;
	border-bottom: 2px solid #fb565a;
}

.page-main-catalog {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}


/* заголовок */

.title-wraper {
	background-color: #eeeeee;
}

.main-title {
	margin-top: 77px;
	;
	margin-bottom: 109px;
	font-size: 55px;
	line-height: 1;
	text-align: center;
	color: #000000;
}


/* главный сектор */

.sort-result {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 20px;
	padding-left: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}


/* форма */

.form-wrapper {
	max-width: 260px;
	min-height: 700px;
	margin-top: 58px;
	margin-right: 140px;
}

.form-fieldset {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-top: -3px;
	margin-left: -11px;
}

.form-legend {
	display: block;
	max-width: 100%;
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 1.67;
	font-weight: 700;
	color: #000000;
}


/* блок ползунка */

.range-slider {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 42px;
	position: relative;
	width: 261px;
	padding: 30px 14px;
	background-color: #eeeeee;
	z-index: 1;
}


/* кнопка ползунка */

.slider-button1,
.slider-button2 {
	margin-left: 4px;
	position: relative;
	display: block;
	width: 20px;
	height: 20px;
	background-color: #ffffff;
	border-radius: 50%;
	border: none;
	z-index: 3;
}

.slider-button2 {
	margin-left: 89px;
}


/* точка в кнопке ползунка */

.slider-button1::before,
.slider-button2::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 4px;
	height: 4px;
	margin: -2px;
	background-color: inherit;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
}


/* полоса ползунка */

.strip1::after {
	content: "";
	position: absolute;
	width: 125px;
	height: 2px;
	left: 35px;
	top: 39px;
	background-color: #00bc6c;
	z-index: 2;
}

.strip2::after {
	content: "";
	position: absolute;
	width: 61px;
	height: 2px;
	left: 178px;
	top: 39px;
	background-color: #d5d5d5;
	z-index: 2;
}


/* выбор внизу ползунка */

.slider-values {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	text-transform: uppercase;
	margin-top: 4px;
	margin-right: 3px;
}

.field-from-text,
.field-before-text {
	color: #283136;
}

.field-from-imput,
.field-before-imput {
	margin-top: 10px;
	margin-left: 7px;
	padding-left: 16px;
	width: 80px;
	height: 38px;
	border: none;
	text-align: center;
	background-color: #eeeeee;
}


/* форма сетка */

.grid {
	padding-top: 47px;
}


/* кнопки радио */

.form-radio {
	padding-top: 12px;
	padding-bottom: 9px;
}

.form-radio input[type=radio] {
	visibility: hidden;
	margin-left: 3px;
}

.form-radio label {
	display: inline-block;
	position: relative;
	padding-left: 16px;
	margin-right: 0;
	line-height: 18px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.form-radio label:before {
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	position: absolute;
	left: -19px;
	bottom: -2px;
	background: url(../img/radio-off.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.4;
}


/* Checked */

.form-radio input[type=radio]:checked+label:before {
	background: url(../img/radio-on.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}


/* Hover */

.form-radio label:hover:before {
	/* filter: brightness(120%); */
	opacity: 1;
}


/* форма особенности */

.features {
	padding-top: 29px;
}

.form-checkbox {
	padding-top: 11px;
	padding-bottom: 10px;
}

.form-checkbox input[type=checkbox] {
	visibility: hidden;
	margin-left: 4px;
}

.form-checkbox label {
	display: inline-block;
	position: relative;
	padding-left: 14px;
	line-height: 18px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.form-checkbox label:before {
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	position: absolute;
	left: -21px;
	bottom: -3px;
	background: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.4;
}


/* Checked */

.form-checkbox input[type=checkbox]:checked+label:before {
	background: url(../img/checkbox-on.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}


/* Hover */

.form-checkbox label:hover:before {
	/* filter: brightness(120%); */
	opacity: 1;
}


/* кнопка в форме */

.show {
	width: 260px;
	margin-top: 30px;
	background-color: #eeeeee;
	color: #000000;
}

.show:hover {
	background-color: #dfdfdf;
	color: #000000;
}

.show:active {
	-webkit-box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
}


/* каталог сайтов */


/* фильтр работ */

.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap;
}


/* перечень названий */

.sorting {
	margin-bottom: 37px;
	margin-top: -8px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}

.sorting-caption {
	display: block;
	max-width: 100%;
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: 700;
	line-height: 1;
}

.names-list {
	margin-top: 63px;
	margin-right: -14px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	list-style: none;
	font-size: 14px;
	text-transform: uppercase;
}

.names-item:nth-child(1) {
	margin-right: 11px;
}

.names-item:nth-child(2) {
	margin-right: 11px;
}

.names-item:nth-child(3) {
	margin-right: 32px;
}

.names-item:nth-child(4) {
	margin-right: 3px;
}

.names-link {
	margin-right: 15px;
	line-height: 1.29;
	color: rgba(0, 0, 0, 0.3);
}

.names-link:hover,
.names-link:focus {
	color: rgba(0, 0, 0, 0.6);
}

.names-link:active {
	color: #000000;
}

.price {
	color: #000000;
}

.down {
	position: relative;
	line-height: 1.88;
	text-transform: uppercase;
	font-weight: 500;
	color: #000000;
}

.down path:hover,
.down path:focus {
	fill: #a6a6a6;
}

.down path:active {
	fill: #000000;
}

.up {
	position: relative;
	line-height: 1.88;
	text-transform: uppercase;
	font-weight: 500;
	color: #a6a6a6;
}

.up path:hover,
.up path:focus {
	fill: #a6a6a6;
}

.up path:active {
	fill: #000000;
}


/* карточки */

.filter-templates {
  width: 760px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.card {
	margin-bottom: 33px;
	position: relative;
}

.card:hover .crown,
.card:focus .crown {
	background-color: #000000;
}


/* шапка карточки */

.crown {
	width: 360px;
	padding: 13px 16px;
	border-radius: 2px;
	background-color: #a6a6a6;
}

.crown:hover,
.crown:focus {
	background-color: #343a40;
}

.circle {
	position: relative;
	display: block;
	width: 14px;
	height: 14px;
	background-color: #ffffff;
	border-radius: 50%;
}

.circle::before,
.circle::after {
	position: absolute;
	content: "";
	width: 14px;
	height: 14px;
	background-color: #ffffff;
	border-radius: 50%;
}

.circle::before {
	left: 23px;
}

.circle::after {
	left: 46px;
}


/* контейнер карточки */

.card-wrapper {
	width: 360px;
	height: 576px;
	overflow: hidden;
	-o-object-fit: none;
	object-fit: none;
}


/* ховер карточки */

.business-card {
	position: absolute;
	bottom: 0;
	display: none;
	min-width: 360px;
	min-height: 231px;
	text-align: center;
	border: solid 1px rgba(0, 1, 1, 0.1);
	background-color: #eeeeee;
}

.business-card-barbershop {
	padding-top: 4px;
	padding-right: 3px;
}

.business-card-mishka {
	padding-top: 4px;
	padding-right: 3px;
}

.business-card-aplus {
	padding-right: 3px;
}

.business-card-kvast {
	padding-right: 3px;
}

.card:hover .business-card,
.card:focus .business-card {
	display: block;
}

.card-name {
	padding-top: 8px;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.67;
	text-transform: uppercase;
	color: #000000;
}

.card-name:hover {
	color: #fb565a;
}

.card-name:active {
	color: rgba(0, 0, 0, 0.3);
}

.card-information {
	margin-top: -3px;
	padding-right: 88px;
	padding-left: 90px;
	font-size: 16px;
	line-height: 1.13;
	color: #666666;
}

.pink {
	padding-right: 55px;
	padding-left: 56px;
}

.barbershop {
	padding-left: 94px;
	padding-right: 92px;
}

.mishka {
	padding-left: 94px;
	padding-right: 92px;
}

.aplus {
	padding-left: 44px;
	padding-right: 40px;
}

.kvast {
	padding-left: 44px;
	padding-right: 40px;
}

.cost {
	display: block;
	width: 200px;
	height: 50px;
	margin-top: 30px;
	margin-left: 79px;
	padding-top: 17px;
	padding-left: 3px;
}


/* кнопки под карточками */

.pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 29px;
	margin-left: 1px;
	margin-bottom: -21px;
	text-transform: uppercase;
}

.pagination-link {
	display: block;
	width: 50px;
	height: 50px;
	margin-right: 11px;
	padding-top: 16px;
	border-radius: 2px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.13;
	text-align: center;
	color: #000000;
	background-color: #eeeeee;
}

.pagination-link.initial {
	padding-top: 14px;
	border: solid 3px #dbdbdb;
	background-color: #ffffff;
}

.pagination-link.next {
	width: 260px;
}

.pagination-link:hover,
.pagination-link:focus {
	background-color: #dfdfdf;
}

.pagination-link:active {
	-webkit-box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
	background-color: #d5d5d5;
}
